Port = port number you want to enter to run on the local
MONGO_URI = mongodb+srv://<db_username>:<db_password>@cluster0.98ivji5.mongodb.net/?appName=Cluster0
EMAIL_USER = example@example.com
EMAIL_PASS = 16DigiPassword
CLOUDINARY_CLOUD_NAME=anyname
CLOUDINARY_API_KEY=key/CLOUDINARY_API_KEY
CLOUDINARY_API_SECERT=any code word you want to add